@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-display: swap;
}

img,
video,
svg {
    max-width: 100%;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

// * Variables
$color-primary: #080516;
$color-secondary: #8064F1;
$background-header: #fcfcff;
$color-text: #d8d8d8;
$color-gray: #777777;
$trs: all 300ms ease-in-out;
$color-title: #F1ECFF;
$subtitle-section: #d8d2f4;
$trs-five: 400ms;
$color-pink: #ff3077;

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    font-size: 14px;
    overflow-x: hidden;
    background-color: $background-header;
    background-size: cover;
    max-width: 100%;
    margin: 0 auto;
}

@mixin position($top: auto, $right: auto, $bottom: auto, $left: auto) {
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}


img {
    pointer-events: none;
}

header {
    position: relative;
    min-height: 100vh;
    background: radial-gradient(circle at -53% 52%, #1b084a 0%, #080516 78%, #1b084a 431%);

    &::before {
        content: "";
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, $color-primary 8%, rgba(0, 0, 0, 0) 52%);
        position: absolute;
        left: 0;
        top: 0;
        z-index: 3;
    }

    nav {
        position: fixed;
        top: 1rem;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 0.875rem;
        text-transform: uppercase;
        font-weight: normal;
        z-index: 5;

        @media (max-width: 440px) {
            font-size: .6rem;
        }

        ul {
            display: flex;
            border-radius: 100px;
            transition: $trs;
            li {
                padding: 1em;
                
                @media (max-width: 440px) {
                    padding: .3rem;
                }

                a {
                    display: block;
                    color: $color-title;
                    transition: all 200ms ease-in-out;
                    font-weight: 300;

                    &.a--active {
                        color: $color-pink;
                        font-weight: 600;
                    }

                    &:hover {
                        color: $color-pink;
                        font-weight: 600;
                    }
                }
            }
        }

        &.nav--active {
            ul {
                background: #080516ad;
                backdrop-filter: blur(10px);
            }
        }
    }
}



// * Helpers
.container {
    padding: 0 7rem;

    @media (max-width: 590px) {
        padding: 0 2rem;
    }
}

.planet {
    position: absolute;
    width: 100%;
    animation: planet 120s linear infinite;
    top: 30%;
}

.planet__sphere {
    position: absolute;
    top: 17rem;
    z-index: 2;
}

.rocks {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    mask-image: linear-gradient(to top, $color-primary, #0000);
    mix-blend-mode: color-dodge;
}


@keyframes planet {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(360deg);
    }
}

// * Titles
.title__frontend {
    position: absolute;
    left: 0;
    top: 22vh;
    z-index: 4;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .btns-social {
        display: flex;
        gap: 1rem;

        a {
            color: #ffeef4;
            font-size: 0.875rem;
            border: 1px solid #ff307752;
            border-radius: 100px;
            display: block;
            padding: 5px 10px;
            font-weight: 400;
            backdrop-filter: blur(10px);
            background: #b8b3b724;
            text-align: center;

            &:nth-child(1) {
                background: $color-pink;
                color: $background-header;
            }
        }
        @media (max-width: 320px) {
            flex-direction: column;
            a {
                width: 200px;
            }
        }
    }

    .frontend__developer {
        font-size: 2rem;
        font-weight: 200;
        text-transform: uppercase;
        color: $color-text;
        letter-spacing: 10px;
        text-align: center;
        margin-top: -31px;

        @media (max-width: 830px) {
            margin-top: -18px;
            font-size: 1.5rem;
        }
        @media (max-width: 620px) {
            font-size: 1rem;
            letter-spacing: 3px;
        }
        @media (max-width: 320px) {
            margin-top: 0px;
            font-size: 1rem;
        }
        
    }

    .codezardi {
        position: relative;
        text-align: center;
        text-transform: uppercase;
        font-size: 7rem;
        color: $color-title;

        @media (max-width: 830px) {
            font-size: 5rem;
        }
        @media (max-width: 620px) {
            font-size: 4rem;
        }
        @media (max-width: 440px) {
            font-size: 1.6rem;
            margin-bottom: 1rem;
            letter-spacing: 5px;
        }
        @media (max-width: 320px) {
            font-size: 1rem;
            margin-bottom: 0rem;
        }
        

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            bottom: 30px;
            left: 0;
            background: $color-title;
            display: none;

            @media (max-width: 830px) {
                background: #0000;
            }
        }
    }

    p {
        font-weight: 300;
        text-wrap: inherit;
        text-align: center;
        max-width: 70ch;
        padding: 0 2rem;
        @media (max-width: 830px) {
            margin-top: 10px;
        }
        @media (max-width: 320px) {
            font-size: 12px;
        }

    }

    @media (max-width: 620px) {
        top: 50%;
        transform: translateY(-50%);
    }
}

.title__section {
    font-size: 4em;
    margin-bottom: 1em;
    background: -webkit-linear-gradient(222deg, #ffffff, #8068ec);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @media (max-width: 590px) {
        font-size: 2rem;
    }

    &--sp {
        margin-top: 2em;
    }
}

.subtitle__section {
    font-size: 2rem;
    color: $subtitle-section;
    font-weight: bold;
    text-align: left;

    @media (max-width: 590px) {
        font-size: 1.2rem;
    }
}

.cursor {
    position: fixed;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-5px, -2px);
    z-index: 3;

    &__contrast {
        filter: brightness(0) saturate(100%) invert(100%) sepia(99%) saturate(0%) hue-rotate(80deg) brightness(102%) contrast(102%);
    }
}

.shadow {
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    pointer-events: none;
    background: radial-gradient(#111825, #8068ec);
    box-shadow: 0 0 100px #8068ec;
    transform: translate(-30px, -10px);
    z-index: 1;
    opacity: 0.1;
}

time {
    color: $color-gray;
    font-weight: bold;
}

p {
    color: $color-text;
    font-size: 1em;
    max-width: 70ch;
    text-wrap: balance;
    line-height: 1.5;
    margin-bottom: 1em;
}

.base__box {
    top: 256px;
    left: 0;
    width: 100%;
    z-index: 1;
    pointer-events: none;
    background: $color-primary;
}

.shadow__circle {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    z-index: 1;
    pointer-events: none;
}



main {
    position: absolute;
    height: 100%;
    top: 100vh;
    width: 100%;

    .main {
        position: relative;
        width: 100%;
        height: auto;
        padding: 5rem 0;
    }

    .content {
        background-image: radial-gradient(circle at 43% 34%, #1b084a 0%, $color-primary 30%);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        height: auto;
        width: 100%;

        .rock {
            position: absolute;
            top: 0;
            right: 0;
            mix-blend-mode: color-dodge;
            width: 50vw;

            &:nth-child(2) {
                left: 0;
                width: 10rem;
                top: -18rem;
            }
        }
    }

    .experience {
        position: relative;
        @extend .container;
        padding-top: 5rem;

        .sphere {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(0, -50%);
            width: 50%;
        }
    }

    .about__me {
        position: relative;
        width: 100%;

        @media (max-width: 1000px) {
            display: flex;
            flex-direction: column;
        }

        .title__section {
            @extend .container;
            position: inherit;
            // text-align: center;
            z-index: 1;
        }

        .img__aboutme {
            position: inherit;
            left: 50%;
            transform: translateX(-50%);
            margin: 0 auto;
            max-width: 1080px;
        }

        .block {
            position: absolute;
            display: none;
            max-width: 30ch;
            font-size: 0.875rem;
            transition: $trs;

            &:nth-child(1) {
                display: flex;
                flex-direction: column;

                h4 {
                    margin-bottom: 6px;
                }

                top: 1px;
                left: 23%;

                @media (max-width: 1820px) {
                    @include position($top: 1%, $left: 20%)
                }

                @media (max-width: 1350px) {
                    @include position($top: 1%, $left: 16%)
                }

                @media (max-width: 1150px) {
                    @include position($top: 1%, $left: 10%)
                }

            }

            &:nth-child(2) {
                display: flex;
                top: 44%;
                right: 9%;

                @media (max-width: 1820px) {
                    @include position($top: 44%, $right: 7%)
                }

                @media (max-width: 1616px) {
                    @include position($top: 44%, $right: 2%)
                }

                @media (max-width: 1495px) {
                    @include position($top: 65%, $right: 5%)
                }

                @media (max-width: 1350px) {
                    @include position($top: 72%, $right: 3%)
                }

                @media (max-width: 1150px) {
                    @include position($top: 78%, $right: 5%);
                    max-width: 25ch;
                }
            }

            &:nth-child(3) {
                display: flex;
                top: 44%;
                left: 20%;

                @media (max-width: 1616px) {
                    @include position($top: 44%, $left: 13%)
                }

                @media (max-width: 1350px) {
                    @include position($top: 44%, $left: 8%)
                }

                @media (max-width: 1150px) {
                    @include position($top: 47%, $left: 6%)
                }

                @media (max-width: 1000px) {
                    text-align: center;
                    order: 1;
                }
            }

            &:nth-child(4) {
                display: flex;
                top: 79%;
                left: 31%;

                @media (max-width: 1616px) {
                    @include position($top: 79%, $left: 22%)
                }

                @media (max-width: 1350px) {
                    @include position($top: 79%, $left: 17%)
                }

                @media (max-width: 1000px) {
                    text-align: center;
                    order: 2;
                }
            }

            &:nth-child(5) {
                display: flex;
                top: 17%;
                right: 14%;

                @media (max-width: 1616px) {
                    @include position($top: 17%, $right: 7%)
                }

                @media (max-width: 1350px) {
                    @include position($top: 21%, $right: 2%)
                }

                @media (max-width: 1150px) {
                    @include position($top: 21%, $right: 0%);
                    max-width: 25ch;
                }

                @media (max-width: 1000px) {
                    order: 3;
                    text-align: center;
                }
            }

            @media (max-width: 1000px) {
                position: initial;
                max-width: 100ch !important;

                &--container {
                    padding: 0 7rem;

                    @media (max-width: 590px) {
                        padding: 0 2rem;
                    }
                }
            }

            @media (max-width: 720px) {
                font-size: 0.875rem;
            }
        }
    }

    .projects {
        @extend .container;
        position: relative;
        width: 100%;
        height: 100%;
        margin-top: 10vh;
        &__cards {
            display: flex;
            gap: 2rem;

            @media (max-width: 990px) {
                flex-direction: column;
            }
        }

        &__card {
            position: relative;
            width: 100%;
            border-radius: 10px;
            border: 1px solid #311d55;
            padding: 1rem;
            gap: 1rem;
            max-width: 50vw;
            transition: $trs;
            background: linear-gradient(45deg, #11082f, #0000);

            @media (max-width: 990px) {
                max-width: 100vw;
            }

            i {
                position: absolute;
                right: 1rem;
                color: #9785eb;
                transition: $trs;
                transition-delay: 100ms;
                font-size: 1.2rem;
            }

            &:hover {
                transform: translateY(-3px);
                box-shadow: 0 20px 80px -49px #8064f1, 0 43px 80px -50px #f164c3;

                .projects__img {
                    object-position: top right;
                }

                i {
                    transform: translate(3px, -3px);
                    color: #d8d2f4;
                }

                .projects__img {
                    object-fit: contain;
                }
            }


        }

        &__title {
            font-weight: 600;
            color: $color-title;
            font-size: 2rem;
            // margin-bottom: 1rem;
        }

        &__description {}

        &__img {
            border-radius: 10px;
            object-fit: cover;
            object-position: left top;
        }

    }

    .skills {
        @extend .container;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .subtitle__section {
            margin-bottom: 2rem;
            text-align: center;
            margin-top: 1rem;
        }
    }
}

footer {
    position: absolute;
    bottom: 42px;
    left: 50%;
    transform: translate(-50%);
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-wrap: nowrap;
    background: #05030e14;
    backdrop-filter: blur(10px);

    * {
        color: #adadad;
    }

}

.tags {
    display: flex;
    align-items: center;
    gap: .7rem;
    margin-bottom: 1rem;
    pointer-events: none;
    user-select: none;

    &-tag {
        padding: 5px 15px;
        border-radius: 200px;
        text-transform: uppercase;
        border: 1px solid $color-text;
        color: $color-text;

        &--small {
            font-size: .6rem;
            padding: 3px 15px;
        }
    }
}

.scroll {
    position: relative;
    display: flex;
    width: 70vw;
    overflow: hidden;
    mask-image: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent);

    div {
        white-space: nowrap;
        animation: scroll var(--time) linear infinite;
        animation-delay: calc(var(--time)*-1);

        &:nth-child(2) {
            animation: scroll2 var(--time) linear infinite;
            animation-delay: calc(var(--time)/-2);
        }

        span {
            display: inline-flex;
            margin: 10px;
            letter-spacing: 0.2em;
            transition: $trs;
            padding: 5px 20px;
            border-radius: 200px;
            text-transform: uppercase;
            border: 1px solid $color-text;
            color: $color-text;

            &:hover {
                background: linear-gradient(45deg, #100d1d, #d81e608a);
                border-color: #0000;
                cursor: pointer;
            }
        }
    }
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes scroll2 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-200%);
    }
}




article {
    &.timeline {
        position: relative;
        padding-left: 2em;
        padding-bottom: 2em;
        border-left: 2px solid $color-gray;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: -8px;
            width: 15px;
            height: 15px;
            background: $color-gray;
            border-radius: 200px;
        }

        &:last-child {
            padding-bottom: 1em;
        }
    }
}

.projects__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;
    gap: 1rem;

    &-item {
        border-radius: 20px;
        background: url('https://i.pinimg.com/564x/ad/6b/b2/ad6bb2642b42356b4d57dedcced58083.jpg') no-repeat;
        flex-grow: 1;
        width: 200px;
        height: 250px;
        cursor: pointer;
        position: relative;
        transition: $trs;

        &:hover {
            transform: translateY(-3px);

            span {
                visibility: visible;
                opacity: 1;
            }
        }

        span {
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 20px;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, #0000, $color-primary);
            padding: 2rem 2rem 4rem 2rem;
            transition: $trs;
            visibility: hidden;
            opacity: 0;
            display: flex;
            align-items: end;
            font-size: 1.5rem;
            font-weight: bold;
            color: $color-text;
        }
    }
}

.btn {
    border: none;
    padding: 12px 25px;
    color: $color-text;
    transition: $trs;
    text-transform: uppercase;
    outline: none;
    border-radius: 5px;
    display: inline-block;
    width: fit-content;
    cursor: pointer;

    &--secondary {
        background: $color-secondary;
        box-shadow: 0 5px 15px #8064f1cc;
    }

    &:hover {
        box-shadow: none;
        transform: translateY(3px);
    }
}

.container__boxs-grid {
    width: 100%;
    height: 378px;
    overflow: hidden;
    perspective: 342px;

}

.grid-fade {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background: radial-gradient(ellipse at 50% 100%, rgba(14, 20, 22, 0) 0%, #111825 69%);
}

.grid-lines {
    width: 100%;
    height: 200%;
    background-image: linear-gradient(to right, #8068ec 1px, transparent 0), linear-gradient(to bottom, rgb(128 104 236) 1px, transparent 0);
    background-size: 25px 11px;
    background-repeat: repeat;
    transform-origin: 100% 0 0;
    animation: play 30s linear infinite;
}

@keyframes play {
    0% {
        transform: rotateX(45deg) translateY(-45%) translateX(-20%);
    }

    100% {
        transform: rotateX(45deg) translateY(0) translateX(0);
    }
}

@keyframes playReverse {
    0% {
        transform: rotateX(45deg) translateY(0) translateX(-20%);
    }

    100% {
        transform: rotateX(45deg) translateY(-45%) translateX(0%);
    }
}


.relative__aboutme {
    position: relative;
    transition: $trs;

    .experience__aboutme {
        position: absolute;
        left: 50%;
        top: 50%;
        color: white;
        z-index: 3;
        transform: translate(-50%, -78%);
        text-transform: uppercase;
        text-align: center;
        font-weight: 100;
        font-size: 1.3rem;
        letter-spacing: 11px;
        opacity: 0;
    }

    .svg__experience {
        width: 100%;
        height: 100%;
        max-width: 1000px;
        margin: 0 auto;
        position: inherit;
        display: flex;
        justify-content: center;

        #arrowTop,
        #topLine,
        #ellipseCenter,
        #arrowBottom,
        #arrowLeftTop,
        #arrowLeftBottom,
        #lineFront,
        #bottomLine,
        #lineLeft,
        #ellipseBorderCenter,
        #ellipseBorderBig,
        #ellipseBorderSmall,
        #arrowRight {
            opacity: 0;
        }

        @media (max-width: 1150px) {
            transform: translateY(40px);
            ;
        }



    }

    &--active {
        .svg__experience {
            #ellipseCenter {
                animation: 1s ellipseCenter ease-in-out forwards;
            }

            #arrowTop {
                animation: $trs-five arrowInvertY ease-in-out forwards 600ms;
            }

            #arrowBottom {
                animation: $trs-five arrowY ease-in-out forwards 800ms;
            }

            #arrowLeftTop {
                animation: $trs-five arrowLeftTop ease-in-out forwards 900ms;
            }

            #arrowLeftBottom {
                animation: $trs-five arrowLeftBottom ease-in-out forwards 1000ms;
            }

            #topLine {
                animation: $trs-five arrowInvertX ease-in-out forwards 1100ms;
            }

            #lineFront {
                animation: $trs-five arrowInvertY ease-in-out forwards 1200ms;
            }

            #bottomLine {
                animation: $trs-five arrowX ease-in-out forwards 1300ms;
            }

            #lineLeft {
                animation: $trs-five arrowInvertY ease-in-out forwards 1400ms;
            }

            #ellipseBorderCenter {
                animation: 1.5s rotate3d ease-in-out forwards 700ms;
            }

            #ellipseBorderBig {
                animation: 1s skewX ease-in-out forwards 700ms;
            }

            #ellipseBorderSmall {
                animation: 500ms fadeIn ease-in-out forwards 1800ms;
            }

            #arrowRight {
                animation: $trs-five arrowInvertX ease-in-out forwards 1600ms;
            }
        }

        .experience__aboutme {
            animation: 1s fadeIn ease-in-out forwards 1900ms;
        }
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes expandCircle {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(5);
        opacity: 1;
        background: #0000;
    }

}

@keyframes skewX {
    from {
        transform: skewX(19deg);
    }

    to {
        transform: skewX(0);
        opacity: 1;
    }
}

@keyframes rotate3d {
    from {
        transform: rotate3d(1, 1, 1, 102deg);
    }

    to {
        transform: rotate3d(1, 1, 1, 0deg);
        opacity: 1;
    }
}

@keyframes arrowInvertY {
    from {
        transform: translateY(-50px);
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes arrowY {
    from {
        transform: translateY(50px);
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes arrowX {
    from {
        transform: translateX(50px);
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes arrowInvertX {
    from {
        transform: translateX(-50px);
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes arrowLeftTop {
    from {
        transform: translate(-50px, -50px);
    }

    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes arrowLeftBottom {
    from {
        transform: translate(-50px, 50px);
    }

    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes ellipseCenter {
    from {
        transform: rotateX(90deg);
    }

    to {
        transform: rotateX(0);
        opacity: 1;
    }
}